@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* apenas formatae */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* o corpo do site */
body {
    background-color: white;
    color: #e8eaed;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* onde deixar on links em branco */
a {
    color: black;
    text-decoration: none;
}

/* o cabeçario */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    font-size: 14px;
}

/* aqui onde é a foto de perfil */
.profile-pic {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

/* literalmente a parte principal */
main {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px; 
}

/* Aqui onde meche na foto */
.logo img {
    width: 380px;
    height: auto;
    margin-bottom: 28px;
}

/* a caixinha onde tem os negocios e cria o bagui pra pesquisa */
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 24px;
    background-color: transparent;
    padding: 10px 20px;
    color: black;
    gap: 15px;
    width: 500px;
    max-width: 584px; 
    padding: 4px 15px; /* aqui é sp pra eles não ficaram muito no limite da caixa */
}

/* caixa de pesquisa */
.search-box:hover {
    background-color: transparent;
    border-color:black;
}

/* area de pesquisa */
.search-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #e8eaed;
    font-size: 16px;
    width: 100%;
}

/* botões */
.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 28px;
}

.search-button{
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    color: black;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

/* botão de sorte */
.lucky-button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

/* pontape do baguio */
footer {
    background-color: rgb(32, 28, 28);
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 15px;
    
}

/*  brasil */
.country{
    padding: 15px 30px;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 15px;
    color: rgb(255, 255, 255)
}

/* direçoes de links */
.footer-links{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.footer-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}

.footer-links a:hover{
    text-decoration: underline;
}

.left-links, .right-links{
    display: flex;
}

@media(max-width: 768){
    .footer-links{
        flex-direction: column
    }

    .left-links, .right-links{
        justify-content: center;
        flex-wrap: wrap;
    }
}
